# Admin settings
ADMIN_STEAM_IDS=

# Firebase configuration (Client)
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=

# Firebase Admin configuration (Server)
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Session configuration
SESSION_SECRET=

# Steam Login configuration
STEAM_REALM=
STEAM_RETURN_URL=
STEAM_WEB_API_KEY=
